/* Global Imports */
@font-face {
  font-display: fallback;
  font-family: "Acrom";
  font-style: normal;
  src: url("../assets/fonts/Acrom-ExtraBold.woff") format("woff"); }

@font-face {
  font-display: fallback;
  font-family: "CircuarStd-Black";
  font-style: normal;
  src: url("../assets/fonts/CircularStd-Black.woff2") format("woff2"), url("../assets/fonts/CircularStd-Black.woff") format("woff"); }

@font-face {
  font-display: fallback;
  font-family: "CircuarStd-BlackItalic";
  font-style: normal;
  src: url("../assets/fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../assets/fonts/CircularStd-BlackItalic.woff") format("woff"); }

@font-face {
  font-display: fallback;
  font-family: "CircuarStd-Book";
  font-style: normal;
  src: url("../assets/fonts/CircularStd-Book.woff2") format("woff2"), url("../assets/fonts/CircularStd-Book.woff") format("woff"); }

@font-face {
  font-display: fallback;
  font-family: "CircuarStd-Medium";
  font-style: normal;
  src: url("../assets/fonts/CircularStd-Medium.woff2") format("woff2"), url("../assets/fonts/CircularStd-Medium.woff") format("woff"); }

:root {
  --bg-color: #e0e2e2;
  --primary-text-color: #000;
  --primary-text-font: "CircuarStd-Medium", "Helvetica Neue", Helvetica,
    sans-serif;
  --primary-text-font-light: "CircuarStd-Book", "Helvetica Neue", Helvetica,
    sans-serif;
  --primary-heading-font-bold-italic: "CircuarStd-BlackItalic", "Helvetica Neue",
    Helvetica, sans-serif;
  --secondary-heading-font-bold: "Acrom", "Helvetica Neue", Helvetica,
    sans-serif; }

/* -- Base Styles  ---------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 880px) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 40%; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

html * {
  padding: 0;
  margin: 0; }

body {
  font-family: var(--primary-text-font); }

a,
a:link,
a:visited {
  cursor: pointer;
  text-decoration: none; }

ul,
li {
  list-style: none; }

.container {
  max-width: 114rem;
  padding: 3rem 0;
  margin: 0 auto; }

/*------HOME------*/
/* Header */
.header {
  display: flex;
  align-items: center; }
  .header__logo {
    margin-right: auto;
    font-family: var(--secondary-heading-font-bold);
    font-size: 3.6rem; }
  .header__cart, .header__signin {
    margin-left: 2rem;
    font-size: 2rem; }

/* Sale */
.background-img {
  width: 100%;
  height: 100%;
  background-position: 40%;
  background-size: cover; }

.sale__background {
  background-image: url("../assets/images/winter-sale.jpg");
  border-radius: 5px; }

.sale__container {
  display: flex;
  height: 32rem;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; }

.sale__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.sale__heading {
  color: #ffffff;
  font-family: var(--primary-heading-font-bold-italic);
  font-size: 4rem; }

.sale__link {
  display: inline-block;
  padding: 2rem 3rem;
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  color: #fff;
  font-size: 2rem; }

.home-heading {
  margin-top: 5.2rem;
  margin-bottom: 3rem;
  font-family: var(--primary-heading-font-bold-italic);
  font-size: 3.6rem;
  text-transform: uppercase; }

/*------PRODUCT CATEGORY------*/
.product-container {
  display: grid;
  grid-gap: 7rem 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.product-image {
  height: 34rem;
  border-radius: 5px; }

.product-1 {
  background-image: url("https://i.ibb.co/4VCt8fr/h1-600.jpg"); }

.product-2 {
  background-image: url("https://i.ibb.co/sWN32Jc/h2-600.jpg"); }

.product-3 {
  background-image: url("https://i.ibb.co/dr1dhX3/h3-600.jpg"); }

.product-4 {
  background-image: url("https://i.ibb.co/FwgT3wN/h4-600.jpg"); }

.product-5 {
  background-image: url("https://i.ibb.co/kgyVQxC/h5-600.jpg"); }

.product-6 {
  background-image: url("https://i.ibb.co/XCX3Rp0/h6-600.jpg"); }

.product-7 {
  background-image: url("https://i.ibb.co/jTZB37W/h7-600.jpg"); }

.product-8 {
  background-image: url("https://i.ibb.co/sWN32Jc/h2-600.jpg"); }

/*------USER------*/
/*------CART------*/
