{
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/href-no-hash": [0],
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
