.section-login {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.login {
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    width: 80%;
  }
}
.login-header {
  margin-bottom: 6rem;
  font-family: var(--heading-font);
  font-size: 4rem;
  letter-spacing: -1px;
}

.form {
  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem 1.75rem;
    border: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-color: #fff;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: inherit;
    font-family: inherit;
    font-size: 1.8rem;
    transition: all 0.3s;

    &:focus {
      border-bottom: 3px solid #55c57a;
      outline: none;
    }

    &:focus:invalid {
      border-bottom: 3px solid #ff7730;
    }
  }

  &__input::-webkit-input-placeholder {
    color: #bbb;
  }

  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  &__label {
    display: block;
    margin-bottom: 0.75rem;
    color: #111;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__btn {
    width: 100%;
    padding: 2rem 4rem;
    background-color: #2640ae;
    border-radius: 4px;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 600;

    &--google {
      background-color: #4285f4;
    }
  }
}

.form .form__input .form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.sign-account-link {
  display: block;
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
}
